<!DOCTYPE html>
<html lang="es">

<%- include("./partials/head") %> 

<link rel="stylesheet" href="/stylesheets/Uno.css">

<body >

<%- include("./partials/header") %> 

<div class="container">

  <div class="row">

    <div class="col-2"></div>

      <div class="col-8" id="TituloCarro">

        <h1>Carrito de compras</h1>

      </div>

    <div class="col-2"></div>

  </div>

</div>

<% dbProducto.forEach(producto => { %>

  <% if (producto.id == idProducto) { %>

    <div class="container">

      <div class="row">

        <div class="col-2"></div>

          <div class="col-4" id="Producto1">

            <img src="/images/imagenProducto/<%- producto.imagen %>" class="card-img"  alt="..." style="max-width: 300px;">
             
          </div>

          <div class="col-4" id="Producto1">

          <div class="card-body" id="textoProdCarrito">

            <h1 class="card-title" id="nombreProdCarrito"><%- producto.nombre %> </h1>
            <p class="card-text" id="descProdCarrito"><%- producto.descripcion %></p>
            <h1 class="card-title" id="precioProdCarrito">Precio $<%- producto.precio %></h5> 

          </div>
        
        </div>

        <div class="col-2"></div>

      </div>

    </div>

  <% } %>

<% }) %>

<!--aca va a estar la suma de los precios de los productos agregados en el carrito 
 let AddProducto = function 

% if (AddProducto = true) { %

 <div class="container">

    <div class="row">

      <div class="col-2"></div>
      <div class="col-8"></div>
      <div class="col-2"></div>

    </div>

  </div> 

% } %-->


<%- include("./partials/footer") %> 
</body>
</html>