<!DOCTYPE html>
<html lang="es">

<%- include("./partials/head") %> 

<link rel="stylesheet" href="/stylesheets/Uno.css">

<body >

<%- include("./partials/header") %> 

<section>

  <div class="container">

    <div class="row">

      <div class="col-2"></div>

        <div class="col-8" id="TituloCarro">

          <h1>Carrito de compras</h1>

        </div>

      <div class="col-2"></div>

    </div>

  </div>

</section>

<% dbProducto.forEach(carrito => { %>
  <% if (carrito.id_usuario == user.id) { %>
    <div class="container">

      <div class="row">

        <div class="col-2"></div>

        <div class="col-4" id="Producto1">

            <img src="/images/imagenProducto/<%- carrito.producto.imagen %>" class="card-img"  alt="..." style="max-width: 300px;">
             
        </div>

        <div class="col-4" id="Producto1">

          <div class="card-body" id="textoProdCarrito">

            <h1 class="card-title" id="nombreProdCarrito"><%- carrito.producto.nombre %> </h1>
            <p class="card-text" id="descProdCarrito"></p>
            <h1 class="card-title" id="precioProdCarrito">Precio $<%- carrito.producto.precio %></h5> 

          </div>
        
        </div>

        <div class="col-2"></div>

      </div>

    </div>

    <div class="container">

      <div class="row">
    
        <div class="col-2"></div>
    
        <div class="col-8" id="Producto1">
          <form action="/productos/borrarProdCarrito/<%= carrito.id %>?_method=delete" method="POST">
            <button type="submit" class="btn btn-outline-danger"><img src="/images/IconosCarrito/TachoDeBasuraCarri.png" alt="..." style="max-width: 15px;"></button>
          </form>
          <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
    
            <div class="btn-group" role="group">
    
              <button id="btnGroupDrop1" type="button" class="btn btn-outline-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cantidad</button>
    
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <a class="dropdown-item" href="#">1</a>
                  <a class="dropdown-item" href="#">2</a>
                </div>
    
            </div>
    
          </div>
    
          <button type="button" class="btn btn-outline-danger">Comprar ahora</button>
    
        </div>
    
        <div class="col-2"></div>
    
      </div>
    
    </div>
  <% } %>
<% }) %>

<div class="container">

  <div class="row">
    
    <div class="col-2"></div>

    <div class="col-8" id="BotonSeguir">

      <button type="button" class="btn btn-outline-danger"><a href="/">Seguir comprando</a></button>

    </div>

    <div class="col-2"></div>

  </div>

</div>

<%- include("./partials/footer") %> 
</body>
</html>