<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>
<link rel="stylesheet" href="../stylesheets/Uno.css">
<body>
    <%- include('./partials/header') %> 
    
    <div class="container">
        <% categoria.forEach(cate => { %>
            <% if (cate.charAt(cate.length -1) == "r" ) { %>
                <h1 style="text-align: center; margin: 30px 0;"><%- cate.charAt(0).toUpperCase() + cate.slice(1) + "es" %> </h1>
            <% }else{ %>
                <h1 style="text-align: center; margin: 30px 0;"><%- cate.charAt(0).toUpperCase() + cate.slice(1) + "s" %> </h1>
            <% } %>
        <% }) %>
        

        <div class="row" style="margin-bottom: 50px;">
            <% dbProducto.forEach(producto => { %>
                
                <% if (producto.categoria_id == catProducto) { %>
                    <div class="col-md-6 col-lg-3">
                        <div class="tarjetaDeProducto">
                            <figure class="d-flex justify-content-center d-flex align-items-center">
                                <img src="/images/imagenProducto/<%- producto.imagen %>" class="img-fluid" alt="...">
                            </figure>
                            <div class="card-body" style="padding: 5px 5px;">
                                <h1><%- producto.nombre %> </h5>
                                <p>$<%- (producto.precio - producto.precio * producto.descuento / 100).toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %></p>
                                <div class="d-flex justify-content-around">
                                    <a href="/productos/detalleProducto/<%= producto.id %>" class="btn btn-primary">Ver</a>
                                    <form action="/productos/carrito/<%= producto.id %>/agregar" method="POST">
                                        <button class="btn btn-primary ">Agregar al carrito</button>
                                    </form>
                                </div>    
                            </div>
                        </div>
                    </div>
                <% } %>  
            <% }) %>
        </div>
    </div>

    <%- include('./partials/footer') %> 
</body>
</html>