<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
    <link rel="stylesheet" href="../stylesheets/Uno.css">
<body>
    <%- include('./partials/header') %> 

    <div class="container bigboss">
        <div class="row">
            <div class="col-12 col-md-6">
                <img class="imagen-principal img-thumbnail" src="/images/imagenProducto/<%= producto.imagen%>" alt="">
            </div>
            <div class="col-12 col-md-6">
                <h2><%= producto.nombre %> </h2>
                <p>codigo: <%= producto.id %> </p>
                <p style="font-weight: 600;">Descripcion:</p>
                <p><%= producto.descripcion %> </p>
                <h2 class="precio">$<%- (producto.precio - producto.precio * producto.descuento / 100).toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %></h2>
                <h3 class="ofertita"><%= producto.descuento %>% de descuento</h3>
                <label>cantidad</label>
                <input style="width: 70px;" type="number" value="">
                <p>garantia: 6 meses</p>
                <a href="/productos/carrito/<%= producto.id %> " class="btn btn-primary btn-lg mb-2" style="color: white;"><i class="fas fa-cart-plus"></i> Agregar al carrito</a>
            </div>
        </div>
        <div class="mb-4 mt-3" style="border-bottom: 1px solid silver;"></div>
        <div class="row">
            <div class="col-12">
                <p>
                  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Caracteristicas Tecnicas
                  </a>
                </p>
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <ul>
                        <li>Caracteristica del producto</li>
                        <li>Caracteristica del producto</li>
                        <li>Caracteristica del producto</li>
                    </ul>
                </div>
              </div>
            </div>
        </div>
        <hr>
        <h2>Productos Similares</h2>
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="../images/unnamed.png" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Producto</a>
                </h4>
                <h5>$00.000</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
            </div>
          </div>
            <div class="col-12 col-md-4">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" src="../images/unnamed.png" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Producto</a>
                  </h4>
                  <h5>$00.000</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" src="../images/unnamed.png" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Producto</a>
                  </h4>
                  <h5>$00.000</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                </div>
              </div>
            </div>
        </div>
    </div>
    <%- include('./partials/footer') %> 
</body>
</html>