<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <link rel="stylesheet" href="../stylesheets/Uno.css" />
  <body>
    <%- include('./partials/header') %>

    <div class="container bigboss">
      <div class="row">
        <div class="col-12 col-md-6">
          <img
            class="imagen-principal img-thumbnail"
            src="/images/imagenProducto/<%= producto.imagen%>"
            alt=""
          />
        </div>
        <div class="col-12 col-md-6">
          <form
            action="/productos/carrito/<%= producto.id %>/agregar"
            method="POST"
            id="formulario"
          >
            <h2><%= producto.nombre %></h2>
            <p>codigo: <%= producto.id %></p>
            <p style="font-weight: 600">Descripcion:</p>
            <p><%= producto.descripcion %></p>
            <h2 class="precio">
              $<%- (producto.precio - producto.precio * producto.descuento /
              100).toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
              %>
            </h2>
            <% if (producto.descuento != 0) { %>
            <h3 class="ofertita"><%= producto.descuento %>% de descuento</h3>
            <% } %>

            <label>cantidad</label>
            <input
              style="width: 70px"
              type="number"
              value=""
              id="cantidad"
              name="cantidad"
            />
            <div id="errCantidad" style="color: red"></div>

            <p>Garantia: 12 meses</p>
            <!-- <a href="/productos/carrito/<%= producto.id %> " class="btn btn-primary btn-lg mb-2" style="color: white;"><i class="fas fa-cart-plus"></i> Agregar al carrito</a> -->
            <button type="submit" class="btn btn-primary btn-lg mb-2">
              <i class="fas fa-cart-plus"></i> Agregar al carrito
            </button>
          </form>
        </div>
      </div>
      <div class="mb-4 mt-3" style="border-bottom: 1px solid silver"></div>
      <% if (producto.categoria_id == 13) { %>
       <div class="row">
        <div class="col-12">
          <p>
            <a
              class="btn btn-primary"
              data-toggle="collapse"
              href="#collapseExample"
              role="button"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              Especificaciones
            </a>
          </p>
          <div class="collapse" id="collapseExample">
              <table class="table table-striped table-dark">
                <thead>
                  <tr>
                    <th scope="col">Mother</th>
                    <th scope="col">Procesador</th>
                    <th scope="col">Memoria RAM</th>
                    <th scope="col">Disco / SSD</th>
                    <th scope="col">Fuente</th>
                    <th scope="col">Placa de video</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <% caracteristicas.forEach(caract => { %>
                       <td> <%= caract %> </td>
                    <% }) %>
                  </tr>
                </tbody>
              </table>

              <table class="table table-striped table-dark">
                <thead>
                  <tr>
                    <th scope="col">Monitor</th>
                    <th scope="col">Teclado</th>
                    <th scope="col">Mouse</th>
                    <th scope="col">Auricular</th>
                    <th scope="col">Gabinete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <% adicionales.forEach(adicional => { %>
                     <td><%= adicional %> </td>
                    <% }) %>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
      <% } %>
      
      <!-- <hr /> -->
      <h2>Quizas te interese</h2>
      <div class="row">
        <% similares.forEach(producto => { %>
        <div class="col-6 col-md-4 col-lg-2">
          <!-- un producto -->
          <div class="card efectoBox" style="height: 285px;">
            <a href="/productos/detalleProducto/<%= producto.id %>">
              <figure class="d-flex justify-content-center d-flex align-items-center" style="height: 150px;border-bottom: 1px solid rgb(240, 240, 240); overflow: hidden;">
                <img class="card-img-top" src="/images/imagenProducto/<%= producto.imagen%>" alt="" style="width: 100%;"/>
              </figure>
            </a>
            <div class="card-body" style="padding: 20px 10px;">
              <h1 class="card-title" style="font-size: small">
                <a href="/productos/detalleProducto/<%= producto.id %>" style="text-decoration: none; color: black;">
                  <%= producto.nombre %>
                </a>
              </h1>
              <h4 style="margin: 0;">$<%- (producto.precio - producto.precio * producto.descuento /
                100).toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
                %></h4>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
    <%- include('./partials/footer') %>
    <script src="/javascripts/validacionDetalle.js"></script>
  </body>
</html>
