<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %> 

<link rel="stylesheet" href="/stylesheets/Uno.css">

<body>

    <%- include('./partials/header') %> 

  <!-- Sectiooon -->
  <section class="container-fluid productosContenedorSection">
    <div class="row">
      <div class="col-12 col-lg-4 productosPrimerDiv">
        <!-- comienzo primera linea -->
        <div class="row  productosPrimeraRow">
          <div class="col-12 ">
            <b class="productosB">Publica en avalon!</b>
          </div>
          <div class="col-12 mb-0">
            <h1 class="productosArticulo font-weight-bold mt-2 ">Edicion de producto</h1>
          </div>
        </div>

        <!-- comienzo de la tercera linea -->
        <div class="row productosTerceraRow">
            <% dbProducto.forEach(producto => { %>
            <% if (producto.id == idProducto) { %>
          <form class="col-12" action="/productos/EditarProducto/<%= producto.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="col-12 productosSpan mb-2">
              <span>Fotos- 0/10 - Puedes agregar un maximo de 10 fotos</span>
            </div>
            <div class="form-group productosCajaDeArchivo">
              <label for="exampleFormControlFile1"></label>
              <input type="file" class="form-control-file productosAgregarFoto" id="files" name="imagen">
            </div>
            <div class="col-12">
              <p class="text-center">Los campos con * son obligatorios.</p>
            </div>
            <div class="col-12 productosMargen">
              <input type="text" class="form-control is-invalid" placeholder="Nombre*" id="nombre" name="nombre" value="<%= producto.nombre %> ">
            </div>
            <div class="col-12 productosMargen">
              <input type="text" class="form-control is-invalid" placeholder="Precio*" id="precio" name="precio" value="<%= producto.precio %> ">
            </div>
            <div class="col-12 productosMargen">
              <input type="text" class="form-control is-invalid" placeholder="Descuento" id="descuento" name="descuento" value="<%= producto.descuento %> ">
            </div>
            <div class="col-12 productosMargen">
              <select name="categoriaProducto" class="custom-select">
                <% if (producto.categoriaProducto == "mouse") { %>
                   <option selected value="mouse">Mouse</option>
                   <% } else if (producto.categoriaProducto == "teclado") { %>
                    <option selected value="teclado">Teclado</option>
                    <% } else if (producto.categoriaProducto == "grafica") { %>
                    <option selected value="grafica">Grafica</option>
                    <% } else if (producto.categoriaProducto == "procesador") { %>
                    <option selected value="procesador">Procesador</option>
                    <% } else if (producto.categoriaProducto == "disco") { %>
                    <option selected value="disco">Disco</option>
                    <% } else if (producto.categoriaProducto == "fuente") { %>
                    <option selected value="fuente">Fuente</option>
                    <% } else if (producto.categoriaProducto == "memoria") { %>
                    <option selected value="memoria">Memoria</option>
                    <% } else if (producto.categoriaProducto == "motherboard") { %>
                    <option selected value="motherboard">Motherboard</option>
                    <% } else if (producto.categoriaProducto == "auricular") { %>
                    <option selected value="auricular">Auricular</option>
                    <% } else if (producto.categoriaProducto == "gabinete") { %>
                    <option selected value="gabinete">Gabinete</option>
                    <% } else { %>
                    <option selected value="monitor">Monitor</option>
                <% } %>
                <option value="mouse">Mouse</option>
                <option value="teclado">Teclado</option>
                <option value="grafica">Grafica</option>
                <option value="procesador">Procesador</option>
                <option value="disco">Disco</option>
                <option value="fuente">Fuente</option>
                <option value="memoria">Memoria</option>
                <option value="motherboard">Motherboard</option>
                <option value="auricular">Auricular</option>
                <option value="gabinete">Gabinete</option>
                <option value="monitor">Monitor</option>
              </select>
            </div>
            <div class="col-12 productosMargen">
              <textarea class="form-control is-valid" rows="6" id="descripcion" placeholder="Descripcion*" name="descripcion" required><%= producto.descripcion %> </textarea>
            </div>
            <div class="row container">
                <div class="col-6"></div>
                <div class="col-3">
                    <a href="/productos" class="btn btn-dark">Cancelar</a>
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
            
          </form>
          
        </div>
      </div>

      <!-- segundo Div -->

      <div class="col-lg-8 d-none d-lg-block">
        <div class="container productosContenedorSegundoDiv">
          <div class="row">
            <div class="col-12 col-md-6">
              <style>
                .thumb {
                  width: 100%;
                  border: 1px solid #000;
                  margin: 10px 5px 0 0;
                }
              </style>
                <output id="list"><img src="/images/imagenProducto/<%= producto.imagen %> " alt=""> </output>
            </div>
            <div class="col-12 col-md-6">
                <h2 id="nombreMuestra">Titulo del producto</h2>
                <p>Codigo de producto</p>
                <p style="font-weight: 600;" >Descripcion:</p>
                <p id="descripcionMuestra">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, possimus repudiandae? Reiciendis beatae vero amet ad facere totam, eius necessitatibus.</p>
                <h2 class="precio" id="precioMuestra">$PRECIO</h2>
                <h3 class="ofertita" id="descuentoMuestra">% DESCUENTO</h3>
                <label>cantidad</label>
                <input style="width: 70px;" type="number" value="">
                <p>garantia: 6 meses</p>
                <div class="btn btn-primary btn-lg mb-2" style="color: white;"><i class="fas fa-cart-plus"></i> Agregar al carrito</div>
            </div>
          </div>
        </div>
      </div>

  </section>
    <% } %>
    <% }) %>

  <%- include('./partials/footer') %> 
  <script type="text/javascript">
    $(document).ready(function () {
        $("#nombre").keyup(function () {
            var value = $(this).val();
            $("#nombreMuestra").html(value);
        });
    });
    $(document).ready(function () {
        $("#precio").keyup(function () {
            var value = $(this).val();
            $("#precioMuestra").html("$"+value);
        });
    });
    $(document).ready(function () {
        $("#descuento").keyup(function () {
            var value = $(this).val();
            $("#descuentoMuestra").html("%"+value);
        });
    });
    $(document).ready(function () {
        $("#descripcion").keyup(function () {
            var value = $(this).val();
            $("#descripcionMuestra").html(value);
        });
    });
    $(document).ready(function () {
      function archivo(evt) {
                  var files = evt.target.files; // FileList object
             
                  // Obtenemos la imagen del campo "file".
                  for (var i = 0, f; f = files[i]; i++) {
                    //Solo admitimos imágenes.
                    if (!f.type.match('image.*')) {
                        continue;
                    }
             
                    var reader = new FileReader();
             
                    reader.onload = (function(theFile) {
                        return function(e) {
                          // Insertamos la imagen
                         document.getElementById("list").innerHTML = ['<img class="thumb" src="', e.target.result,'" title="', escape(theFile.name), '"/>'].join('');
                        };
                    })(f);
             
                    reader.readAsDataURL(f);
                  }
              }
             
              document.getElementById('files').addEventListener('change', archivo, false);
    });
  </script>


</body>

</html>