<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>
<link rel="stylesheet" href="../stylesheets/Uno.css">
<body>
    <%- include('./partials/header') %> 
    
    <div class="container">
        <h1 style="text-align: center; margin: 30px 0;">Nuestros productos</h1>
        <div class="row" style="margin-bottom: 50px;">
            <% dbProducto.forEach(producto => { %>
                    <div class="col-md-6 col-lg-3">
                        <div class="tarjetaDeProducto">
                            <figure class="d-flex justify-content-center d-flex align-items-center">
                                <img src="/images/imagenProducto/<%- producto.imagen %>" class="img-fluid" alt="...">
                            </figure>
                            <div class="card-body" style="padding: 5px 5px;">
                                <h1><%- producto.nombre %> </h5>
                                <p>$<%- (producto.precio - producto.precio * producto.descuento / 100).toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %></p>
                                <div class="d-flex justify-content-around">
                                    <a href="/productos/EditarProducto/<%= producto.id %>" class="btn btn-info"><i class="fas fa-edit"></i></a>
                                    <form action="/productos/delete/<%= producto.id %>?_method=delete" method="POST">
                                        <button class="btn btn-outline-light"> <i class="fas fa-trash-alt text-danger"></i></button>
                                    </form>
                                    
                                    <a href="#" class="btn btn-primary ">Ver</a>
                                    <a href="/productos/carrito/<%-producto.id%>" class="btn btn-primary ">Comprar</a>
                                </div>    
                            </div>
                        </div>
                    </div>
            <% }) %>
        </div>
    </div>

    <%- include('./partials/footer') %> 
</body>
</html>